alembic==1.13.2
argostranslate==1.9.6
asyncpg==0.29.0
celery==5.4.0
fastapi==0.115.2
fastapi[standard]
flair==0.14.0
flower==2.0.1
gunicorn==23.0.0
pandas==2.2.3
pgvector==0.3.2
pycountry==24.6.1
pydantic==2.9.2
pydantic_settings==2.6.0
python-dotenv==1.0.1
rapidfuzz==3.10.1
redis==5.2.0
rq==1.16.2
rq_dashboard_fast==0.5.9
sqladmin==0.20.0
SQLAlchemy==2.0.30
torch==2.5.1
transformers==4.46.1
uv==0.5.1
uvicorn==0.32.0
